<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="author" content="Dat Do and Jake Pillai">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
        <title>chedible</title>
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top"> 
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url_for('main') }}" class="navbar-brand hidden-xs">chedible</a>
                    <a href="{{ url_for('main') }}" class="navbar-brand visible-xs">c</a>
                    
                    {% if table %}
                        <form class="navbar-form navbar-left" method="post" action="/search/{{ table }}" id="search_table">
                    {% else %}
                        <form class="navbar-form navbar-left" method="post" action="/search/restaurants" id="search_table">
                    {% endif %}
                    
                    {{ g.search_form.csrf_token }}
                        <div class="input-group" id="adv-search">
                            <div class="input-group">
                                <span data-toggle="dropdown" aria-expanded="false">
                                    {% if query %}
                                        {{ g.search_form.query(
                                            value=query, 
                                            class="form-control",
                                            type="text",
                                            placeholder="Search",
                                            autocomplete="off"
                                        ) }}
                                    {% else %}
                                        {{ g.search_form.query(
                                            value='',
                                            class="form-control",
                                            type="text",
                                            placeholder="Check if it's edible.",
                                            autocomplete="off"
                                        ) }}
                                    {% endif %}
                                </span>
                                <div class="dropdown-menu" role="menu" id="search_ddm">
                                    <div class="form-group">
                                        <label>Filter by:</label>
                                        <div id="radioBtn" class="btn-group table_select">
                                            {% if table == 'users' %}
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="restaurants">Restaurants</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="dishes">Dishes</a>
                                                <a class="btn btn-primary btn-sm active" data-toggle="search_table" data-title="users">Users</a>
                                            {% elif table == 'dishes' %}
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="restaurants">Restaurants</a>
                                                <a class="btn btn-primary btn-sm active" data-toggle="search_table" data-title="dishes">Dishes</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="users">Users</a>
                                            {% else %}
                                                <a class="btn btn-primary btn-sm active" data-toggle="search_table" data-title="restaurants">Restaurants</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="dishes">Dishes</a>
                                                <a class="btn btn-primary btn-sm notActive" data-toggle="search_table" data-title="users">Users</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if table == 'users' %}
                                        <div id="location_div" hidden>
                                    {% else %}
                                        <div id="location_div">
                                    {% endif %}
                                        <label><br>Location:</label>
                                        <div class="input-group">
                                            {% if loc_name %}
                                                {{ g.search_form.location(
                                                    value=loc_name,
                                                    class="form-control",
                                                    type="text",
                                                    placeholder="City or Zip Code",
                                                    autocomplete="off",
                                                    id="locationInput"
                                                ) }}
                                            {% else %}
                                                {{ g.search_form.location(
                                                    class="form-control",
                                                    type="text",
                                                    placeholder="City or Zip Code",
                                                    autocomplete="off",
                                                    id="locationInput"
                                                ) }}
                                            {% endif %}
                                            <div class="input-group-btn">
                                                <button id="locationButton" class="btn btn-default" type="button">
                                                    <i class="glyphicon glyphicon-screenshot"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><br>Distance:</label>
                                            <div id="radioBtn" class="btn-group radius_select">
                                                {% if radius %}
                                                    {% if radius == "8050" %}
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="3220">2 miles</a>
                                                        <a class="btn btn-primary btn-sm active" data-toggle="radius" data-title="8050">5 miles</a>
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="12870">8 miles</a>
                                                        {{ g.search_form.radius(id="radius", type="text", value=radius, hidden="true") }}
                                                    {% elif radius == "12870" %}
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="3220">2 miles</a>
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="8050">5 miles</a>
                                                        <a class="btn btn-primary btn-sm active" data-toggle="radius" data-title="12870">8 miles</a>
                                                        {{ g.search_form.radius(id="radius", type="text", value=radius, hidden="true") }}
                                                    {% else %}
                                                        <a class="btn btn-primary btn-sm active" data-toggle="radius" data-title="3220">2 miles</a>
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="8050">5 miles</a>
                                                        <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="12870">8 miles</a>
                                                        {{ g.search_form.radius(id="radius", type="text", value="3220", hidden="true") }}
                                                    {% endif %}
                                                {% else %}
                                                    <a class="btn btn-primary btn-sm active" data-toggle="radius" data-title="3220">2 miles</a>
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="8050">5 miles</a>
                                                    <a class="btn btn-primary btn-sm notActive" data-toggle="radius" data-title="12870">8 miles</a>
                                                    {{ g.search_form.radius(id="radius", type="text", value="3220", hidden="true") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <i class="glyphicon glyphicon-ice-lolly-tasted"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if g.user %}
                            <li><a href="{{ url_for('add_restaurant') }}">Contribute</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Social Media <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="#">Facebook</a></li>
                                <li><a target="_blank" href="#">Instagram</a></li>
                                <li><a target="_blank" href="http://chedible.tumblr.com/">Tumblr</a></li>
                                <li><a target="_blank" href="https://twitter.com/chedible">Twitter</a></li>
                                <li><a target="_blank" href="#">Google+</a></li>
                            </ul>
                        </li>
                        <!-- <li><a href="#contact" data-toggle="modal">Contact</a></li> -->
                        <li>
                        {% if g.user %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                            {{ g.user.name }} 
                            <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('user_profile', id=g.user.id) }}">
                                    Profile &nbsp <img class="img-circle" src="{{ g.user.image }}" height="30" width="30"/>
                                </a></li>
                                <li><a href="{{ url_for('logout') }}">Log out</a></li>
                            </ul>
                        {% else %}
                            <li><a href="#login" data-toggle="modal">Login</a></li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="modal fade" id="contact" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal">
                        <div class="modal-header">
                            <h4>Contact Us</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="contact-name" class="col-lg-2 control-label">
                                    Name:
                                </label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Full Name">
                                </div>
                                <label for="contact-email" class="col-lg-2 control-label">
                                    Email:
                                </label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                                </div>
                                <label for="contact-message" class="col-lg-2 control-label">
                                    Message:
                                </label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" rows=6></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-default" data-dismiss="modal">Close</a>
                            <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        
        <div class="modal fade" id="login" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Welcome back!</h4>
                        <h6>Log in with these services.</h6>
                    </div>
                    <div class="modal-body">
                        <center>
                            <div class="btn-group login-modal" role="group">
                                <form action="{{ url_for('facebook_login') }}">
                                    <button class="btn btn-social btn-facebook" type="submit">
                                        &nbsp;Facebook
                                        <i class="fa fa-facebook-official"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="btn-group">
                                &nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="btn-group login-modal" role="group">
                                <form action="{{ url_for('google_login') }}">
                                    <button class="btn btn-social btn-google" type="submit">
                                        &nbsp;Google
                                        <i class="fa fa-google"></i>
                                    </button>
                                </form>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="mustlogin" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>You must be logged in to do that!</h4>
                        <h6>Log in with these services.</h6>
                    </div>
                    <div class="modal-body">
                        <center>
                            <div class="btn-group login-modal" role="group">
                                <form action="{{ url_for('facebook_login') }}">
                                    <button class="btn btn-social btn-facebook" type="submit">
                                        &nbsp;Facebook
                                        <i class="fa fa-facebook-official"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="btn-group" role="group">
                                &nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="btn-group login-modal" role="group">
                                <form action="{{ url_for('google_login') }}">
                                    <button class="btn btn-social btn-google" type="submit">
                                        &nbsp;Google
                                        <i class="fa fa-google"></i>
                                    </button>
                                </form>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>


        {% block content %}
        {% endblock %}

        <div class="container">
            <div class="col-lg-12"><br><center>
                {% for message in get_flashed_messages() %}
                    <div style="font-weight: bold">{{ message }}</div>
                {% endfor %}
            </center></div>
        </div>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
