{# - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. 
#}


{% extends "_base.html" %}

{% block content %}

    <div class="container">

        <div id="indexCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                <div class="item active">
                    <img src="http://placehold.it/1200x600/cccccc/ffffff">
                    <div class="carousel-caption">
                        <h3>Headline 0</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="http://placehold.it/1200x600/999999/cccccc">
                    <div class="carousel-caption">
                        <h3>Headline 1</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="http://placehold.it/1200x600/dddddd/333333">
                    <div class="carousel-caption">
                        <h3>Headline 2</h3>
                    </div>
                </div>

                <div class="item">
                    <img src="http://placehold.it/1200x600/999999/cccccc">
                    <div class="carousel-caption">
                        <h3>Headline 3</h3>
                    </div>
                </div>

            </div>


            <ul class="nav nav-pills nav-justified">
                <li data-target="#indexCarousel" data-slide-to="0" class="active">
                    <a class="clickable">Title 0<small>Descriptive text here</small></a>
                </li>
                <li data-target="#indexCarousel" data-slide-to="1">
                    <a class="clickable">Title 1<small>Descriptive text here</small></a>
                </li>
                <li data-target="#indexCarousel" data-slide-to="2">
                    <a class="clickable">Title 2<small>Descriptive text here</small></a>
                </li>
                <li data-target="#indexCarousel" data-slide-to="3">
                    <a class="clickable">Title 3<small>Descriptive text here</small></a>
                </li>
            </ul>

        </div>

    </div>

{% endblock %}
