{# - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. 
#}


{% extends "_base.html" %}

{% block content %}
    <div class="container">
        {% if id %}
            <legend>Edit a restaurant</legend>
        {% else %}
            <legend>Add a restaurant</legend>
        {% endif %}
        <div class="col-md-8">
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li class="text-danger">{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if id %}
                <form class="form-horizontal" method="post" action="{{ url_for('edit_restaurant', id=id) }}">
            {% else %}
                <form class="form-horizontal" method="post" action="{{ url_for('add_restaurant') }}">
            {% endif %}
                {{ form.csrf_token }}
                <div class="form-row">
                    <div class="form-group required">
                        <label class="control-label">{{ form.name.label }}:</label>
                        {{ form.name(placeholder="Name", class="form-control", type="text", required="") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="control-label">{{ form.category.label }}:</label>
                        {{ form.category(placeholder="American, Vegetarian, etc.", class="form-control", type="text", required="") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="control-label">{{ form.tags.label }}:</label>
                        {{ form.tags(placeholder="Comma separated list of tags", class="form-control", type="text") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button class="form-control btn btn-primary submit-button" type="submit" style="margin-top:12px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Ads n stuff</h4>
                    <p class="list-group-item-text">
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
                    </p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
