{# - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. 
#}


{% extends "_base.html" %}

{% block content %}

    <div class="container">
        <div class="col-md-9">
            <div class="text-center" style="margin-top: 0px">
                <div class="panel panel-default">
                    <br>
                    <img src="{{ (user.image) }}" class="img-circle" alt="{{ (user.name) }}" width = "200" height="200">

                    <h2>
                        
                        {% if user.username != None %}
                            {{ user.username }}
                        {% else %}
                            {{ user.name }}
                        {% endif %}


                        {% if user.id == g.user.id %}
                        <small><small><small><a href="{{ url_for('edit_user', id=user.id) }}">Edit</a></small></small></small>
                        {% endif %}

                    </h2>

                    <div>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Joined on {{ month_day_year }}
                    </div>

                    <div>
                        <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Score: {{ user.score }}
                    </div>
                    <br>
                </div>
            </div>


                 <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">About:</h3>
                        </div>
                        <div class="panel-body">
                            {{ user.about }}
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Preferences:</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered lefttable">
                                {% for o in user_opts %}
                                    <tr>
                                        {% if loop.index % 2 != 0 %}
                                            <td> {{ o[0].title().replace('_', '-') }} </td>
                                            {% if o[1] == True %}
                                                <td class="success"> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> </td>
                                            {% elif o[1] == False %}
                                                <td class="danger"> <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> </td>
                                            {% elif o[1] == None %}
                                                <td> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> </td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>

                            <table class="table table-bordered righttable">
                                {% for o in user_opts %}
                                    <tr>
                                        {% if loop.index % 2 == 0 %}
                                                <td> {{ o[0].title().replace('_', '-') }} </td>
                                            {% if o[1] == True %}
                                                <td class="success"> <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> </td>
                                            {% elif o[1] == False %}
                                                <td class="danger"> <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> </td>
                                            {% elif o[1] == None %}
                                                <td> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> </td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            
        <h3 class="page-header col-md-9">
            Restaurants
        </h3>

        <div class="horizontal">
            <div class="table">

            {% if user.restaurants == [] %}
                <p class="text-center">No entries found</span>
            {% endif %}
            
            {% for r in user.restaurants %}

                <a href="{{ url_for('restaurant_profile', id=r.id) }}" class="thumbnail" id="r-article">
                    {% if r.image != "" %}
                        {{ r.name }}
                    {% endif %}
                    <img src="{{ r.image }}" class="img-rounded" alt="{{ r.name }}" width="190px" height="190px">
                </a>
                    
            {% endfor %}

            
            </div>
        </div>

        <h3 class="page-header col-md-9">
            Dishes
        </h3>

        <div class="horizontal">
            <div class="table">

            {% if user.dishes == [] %}
                <p class="text-center">No entries found</span>
            {% endif %}
            
            {% for d in user.dishes %}

                <a href="{{ url_for('restaurant_profile', id=d.restaurant_id) }}" class="thumbnail" id="r-article">
                    {% if d.image != "" %}
                        {{ d.name }}
                    {% endif %}
                    <img src="{{ d.image }}" class="img-rounded" alt="{{ d.name }}" width="190px" height="190px">
                </a>
                    
            {% endfor %}
            
            </div>
        </div>

    </div>

    <div class="col-md-1">
    </div>

        
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Ads n shit</h4>
                    <p class="list-group-item-text">
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel. 
                    </p>
                </a>
            </div>
        </div>



    </div>

{% endblock %}

