behave==1.2.5
decorator==4.0.9
factual-api==1.7.0
Flask==0.10.1
Flask-Admin==1.4.0
-e git+https://github.com/CheriPai/Flask-GoogleMaps.git@2c09d3797bb8a376de6bed548a4afe5e07191267#egg=Flask_GoogleMaps
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.0
Flask-WTF==0.12
geopy==1.11.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.0.3
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
profanity==1.1
psycopg2==2.6.1
ptyprocess==0.5.1
pyparsing==2.1.0
rauth==0.7.2
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.12
SQLAlchemy-Searchable==0.9.3
SQLAlchemy-Utils==0.32.0
traitlets==4.2.1
validators==0.10
Werkzeug==0.11.4
WTForms==2.1
