.navbar-brand {
    font-size: 180%; 
}

#radioBtn .notActive {
    color: #3276b1;
    background-color: #fff;
}

#radioBtn .active {
    background-color: #3276b1;
}

.entry {
    margin-bottom: 32px;
}

.entry-thumbnail {
    margin-right: 10px;
}

body {
    padding-top: 80px;
}

#login-menu {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

textarea {
    resize: none;
    cursor: default !important;
}

#search_ddm {
    padding: 16px;
}

#map {
    margin-bottom: 20px !important;
}

.panel-body {
    overflow: auto;
}

#query {
    min-width: 195px;
}

#location {
    width: 200px;
}

/* --------------------------- Horizontal scrolling field */

div.horizontal {
    width: 100%;
    height: 250px;
    overflow: auto;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

#r-article {
    width: 200px;
    height: 200px;
    display: table-cell;
    background: #ffffff;
    vertical-align: middle;
    text-align: center;
}

#r-article:nth-child(2n+2) {
    background: #F4F5ED;
}


/* Used for navbar search */

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 400px;
        padding-right: 100px;
    }
}

@media(max-width:377px) {
    .navbar .navbar-form {
        width: 360px;
        padding-right: 100px;
    }
}


.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Vertical centering modal */

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  top: -15%;
}

/* Carousel on index page */
#indexCarousel .nav a small {
    display: block;
}
#indexCarousel .nav {
	background: #eee;
}
#indexCarousel .nav a {
    border-radius: 0px;
}
